<ul>
<li><a href="index.html">Home</a></li>
<li><a href="research.html">Research</a></li>
<li><a href="https://www.youtube.com/channel/UCSAKRIWwVao9nxq8iXR2aEA">Presentations (YouTube)</a></li>
<li><a href="files/gullifer_cv_04-2021.pdf">View CV</a></li>
</ul>

<br />

<ul>
<li><a href="https://scholar.google.ca/citations?hl=en&user=hQZQv2kAAAAJ&view_op=list_works&sortby=pubdate">Publications</a></li>
</ul>

<p>
<a href="https://scholar.google.ca/citations?hl=en&user=hQZQv2kAAAAJ&hl=eng"><img align="middle" alt="google scholar profile" width="48" src="images/scholar.png"></a>

<a href="https://osf.io/vjk7w/"><img align="middle" alt="osf profile" width="48" src="images/osf.png"></a>
</p>
