<ul>
<li><a href="index.html">Home</a></li>
<li><a href="research.html">Research</a></li>
<ul>
	<li><a href="language_entropy.html">Language Entropy</a></li>
	<li><a href="bilingual_adaptation.html">Bilingual Adaptation</a></li>
	<li><a href="machine_learning.html">Machine Learning</a></li>
	<li><a href="network_science.html">Network Science</a></li>
	<li><a href="language_processing.html">Language Processing</a></li>
</ul>
<li><a href="history_training.html">History and Training</a></li>
<li><a href="https://www.youtube.com/channel/UCSAKRIWwVao9nxq8iXR2aEA">Presentations (YouTube)</a></li>
<li><a href="files/gullifer_cv_10-2021.pdf">View CV</a></li>
</ul>

<br />

<ul>
<li><a href="https://scholar.google.ca/citations?hl=en&user=hQZQv2kAAAAJ&view_op=list_works&sortby=pubdate">Publications</a></li>
</ul>

<p>
<a href="https://scholar.google.ca/citations?hl=en&user=hQZQv2kAAAAJ&hl=eng"><img align="middle" alt="google scholar profile" width="48" src="images/scholar.png"></a>

<a href="https://osf.io/vjk7w/"><img align="middle" alt="osf profile" width="48" src="images/osf.png"></a>

<a href="https://github.com/jasongullifer"><img align="middle" alt="github page" width="48" src="images/github.png"></a>
</p>
